.list-group-item{
    background: #eee;
    margin: 1%;
}
.box{
    width: 50%;margin: 0 auto;
}

.product-info{
    margin:0 auto;width:200px;text-align: center;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;
}

.product-bag{
    cursor:pointer;
    right: 5px;
    top: 35%;
    position:fixed;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.cursor-pointer{
    cursor: pointer;
}

.response{
    height: 100px;
    border: 1px solid gray;
    align-items: center;
}

.disbale-event{
    display: none;
    pointer-events: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.cc-number.identified {
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-position-x: 99%;
}

.cc-number.visa {
    background-image: url(uploads/visa.png);
}

.cc-number.mastercard {
    background-image: url(uploads/mastercard.png);
}
.cc-number.amex {
    background-image: url(uploads/amex.png);
}

@media (max-width: 600px) {
    .box{
        width: 100%;
    }
    .product-bag{
        top: 0;
    }
}
